body {
    font-family: "Comic Sans MS", sans-serif;
}

@keyframes wobble {
    0%   {transform: rotate(5deg)}
    50%  {transform: rotate(-5deg)}
    100% {transform: rotate(5deg)}
}

img {
    width: 200px;
    height: 150px;
    position: relative;
    animation-name: wobble;
    animation-duration: .5s;
    animation-iteration-count:infinite;
}